{% extends 'merchant/base.html' %}
{% load static %}
{% block content %}

<body>
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">
                <div class="navbar-logo">
                    <a href="Dashboard.html"><img src="{% static 'img/logo.png' %}" class="img_logo"/></a>
                    <a class="mobile-menu" id="mobile-collapse" href="#!">
                        <i class="icofont icofont-navigation-menu icon-toggle-right"></i>
                    </a>
                </div>
                <div class="navbar-container container-fluid">
                    <ul class="nav-left">
                        <li class="header-search">

                        </li>
                    </ul>
                    <ul class="nav-right">
                        <li class="user-profile header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown"><i class="feather icon-user"> </i>
                                    Welcome, {{request.session.name}} <i class="feather icon-chevron-down"> </i></div>
                                <ul class="profile-notification  dropdown-menu">
                                    <li><a href="{% url 'edit_profile' %}" class="waves-effect waves-light"
                                           style="float: none;"> <i class="feather icon-settings"> </i> My Profile </a>
                                    </li>
                                    <li><a href="#" class="waves-effect waves-light" style="float: none;"
                                           data-toggle="modal" data-target="#Logout">
                                        <i class="feather icon-log-out"> </i> Logout </a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="nav-list">
                        <div class="pcoded-inner-navbar main-menu">
                            <ul class="pcoded-item  pcoded-left-item">
                                <li class="pcoded-hasmenu">
                                    <a href="{% url 'dashboard' %}">
                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                        <span class="pcoded-mtext">Dashboard </span>
                                    </a>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="{% url 'products_merchant' %}">
                                        <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                                        <span class="pcoded-mtext">Products</span>
                                    </a>
                                </li>
                                <li class="pcoded-hasmenu active">
                                    <a href="{% url 'batch' %}">
                                        <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                                        <span class="pcoded-mtext">Batches</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="pcoded-content">
                    <div class="page-header card">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <div class="d-inline">
                                        <h5><a href="{% url 'products_merchant' %}"><i class="icofont icofont-simple-left"></i></a> View
                                            Products</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">

                            </div>
                        </div>
                    </div>
                    <div class="page-header card">
                        <div class="card">
                            <div class="card-block">
                                <div class="v-product-top">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Merchant Name</label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.merchant.name}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Product Name</label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.product_name}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Product Description</label>
                                                <div class="col-sm-8">
                                                    <p class="m-b-0">{{product_detail.product_description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Product Image</label>
                                                {% if product.product_image %}
                                                    <img src="{{ product.product_image.url }}" alt="">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">A - Side Batch</label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.a_side_batch}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">B - Side set temp</label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.b_side_set_temp}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">A - Side set temp</label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.a_side_set_temp}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Hot set temp</label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.hot_set_temp}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Mixing Chamber Size</label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.mixing_chamber_size}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Pressure set</label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.pressure_set}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-header-title p-b-15">
                            <div class="d-inline">
                                <h5>Product Guidelines</h5>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-block">
                                <div class="prod-guidelines-list clearfix">
                                    <h2>Technical Datasheet</h2>
                                    <ul>
                                        {% for tech_file in product_detail.Technical_file %}

                                        <li>
                                            <div class="box">

                                                <div class="icon">
                                                    <a href="{{tech_file.technical_data_sheet.url}}"><i class="icofont icofont-file-pdf"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="prod-guidelines-list clearfix">
                                    <h2>Application Guideline</h2>
                                    <ul>
                                        {% for guide_file in product_detail.application_guidelines %}
                                        <li>
                                            <div class="box">

                                                <div class="icon">
                                                    <a href="{{guide_file.application_guidelines.url}}" ><i class="icofont icofont-file-pdf"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="prod-guidelines-list video-guidelines-list clearfix">
                                    <h2>Video ID</h2>
                                    <ul>
                                        {% for video_file in product_detail.video %}
                                        <li>
                                            <div class="box">

                                                <div class="icon">
                                                    <a href="{{video_file.video.url}}"><i class="icofont icofont-video"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="prod-guidelines-list clearfix">
                                    <h2>Safety Datasheet</h2>
                                    <ul>
                                        {% for safety_files in product_detail.safety_data_sheet %}
                                        <li>
                                            <div class="box">

                                                <div class="icon">
                                                    <a href="{{safety_files.safety_data_sheet.url}}" ><i class="icofont icofont-file-pdf"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="page-header-title p-b-15">
                            <div class="d-inline">
                                <h5>Product Rewards</h5>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-block">
                                <div class="v-product-top">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">QR Code Scan</label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.qr_code_scan_reward}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">A - Side Batch</label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.a_side_batch_reward}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">A side set temp</label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.a_side_set_temp}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">B side set temp</label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.b_side_set_temp}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Hot set temp</label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.hot_set_temp}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Pressure set</label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.pressure_set_reward}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Mixing Chamber Size</label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.mixing_chamber_size_reward}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Photo of Installed foam</label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.photo_of_install_foam_reward}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label"><strong>Total
                                                    Points</strong></label>
                                                <div class="col-sm-8">
                                                    <h4>{{product_detail.total_point}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Logout" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body text-center">
                <h4>Do you want to Logout? </h4>
            </div>
            <div class="modal-footer">
                    <a href="javascript:void(0)" data-dismiss="modal"  class="btn btn-default waves-effect " data-dismiss="modal">No</a>
                    <a  href="{% url 'logout' %}"  class="btn btn-primary waves-effect waves-light ">Yes</a>

                </div>
        </div>
    </div>
</div>


</body>

{% endblock %}